@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #273895;
	--secondary-color: #2741d0;
	--white-color: #ffffff;
	--gray-color: #404040;
	--black-color: #303030;
	--light-color: #f4f7fa;
}


/* Создаем классы для заголовков */
.wrapper{
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
}
.title {
	@apply md:text-[32px] md:text-left text-center text-[24px] font-bold leading-[1.375] sm:max-w-full max-w-[280px] sm:mx-0 mx-auto;
	color: var(--black-color);
}
.container {
	@apply max-w-[1440px] lg:px-20 md:px-10 px-5 mx-auto my-0;
}
.button {
	@apply px-8 py-4 text-white sm:text-[16px] text-xs font-medium leading-tight bg-primary rounded-[15px] sm:max-w-[270px] max-w-[300px] block;
}
.p-section {
	@apply md:pb-[144px] md:px-[40px] pb-[72px] px-[20px];
}
p{
	@apply text-base leading-6 text-[14px] sm:text-left text-center;
}
html {
	font-family: Gotham Pro;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.1;
}
body {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	background-color: var(--light-color);
}
a,span,button,img{
	display: block ;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('@/assets/fonts/GothamPro.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@/assets/fonts/GothamPro-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('@/assets/fonts/GothamPro-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
